* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #090d12;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.reload {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
